<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component id="ConfigurationService"
             service="ShoutcastIntegration.IConfigurationService, ShoutcastIntegration"
             type="ShoutcastIntegration.ConfigurationService, ShoutcastIntegration">
      <parameters>
        <Feeds>#{Feeds}</Feeds>
      </parameters>
    </component>

    <component id="FileFeed"
             service="ShoutcastIntegration.IFeedStream, ShoutcastIntegration"
             type="ShoutcastIntegration.FileFeed, ShoutcastIntegration">
      <parameters>
        <ShoutcastPlaylistURL>
          <![CDATA[
          http://www.shoutcast.com/sbin/shoutcast-playlist.pls?rn={0}&file=filename.pls</ShoutcastPlaylistURL>
          ]]>
        </ShoutcastPlaylistURL>
      </parameters>
    </component>

  </components>
</configuration>