<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    
    <component id="ConfigurationService"
             service="ShoutcastIntegration.IConfigurationService, ShoutcastIntegration"
             type="ShoutcastIntegration.ConfigurationService, ShoutcastIntegration">
      <parameters>
        <Feeds>#{Feeds}</Feeds>
        <ShoutcastPlaylistURL>#{ShoutcastPlaylistURL}</ShoutcastPlaylistURL>
        <ShoutcastDirectoryListURL>#{ShoutcastDirectoryListURL}</ShoutcastDirectoryListURL>
      </parameters>
    </component>

    <component id="BookmarkService"
               service="ShoutcastIntegration.IBookmarkManager, ShoutcastIntegration"
               type="ShoutcastIntegration.BookmarkManager, ShoutcastIntegration">
      <parameters>
        <FeedStream>${FileFeed}</FeedStream>
      </parameters>
    </component>


    <component id="ShoutcastFeedService"
               service="ShoutcastIntegration.IStationFeedService, ShoutcastIntegration"
               type="ShoutcastIntegration.ShoutcastFeedService, ShoutcastIntegration">
      <parameters>
        <FeedStream>${WebFeed}</FeedStream>
      </parameters>
    </component>
    
    <component id="ExecutePlaylistFile"
               service="ShoutcastIntegration.ExecutePlaylistFile, ShoutcastIntegration"
               type="ShoutcastIntegration.ExecutePlaylistFile, ShoutcastIntegration">
    </component>
    
    <component id="WebFeed" name="WebFeed"
               service="ShoutcastIntegration.IFeedStream, ShoutcastIntegration"
               type="ShoutcastIntegration.WebStream, ShoutcastIntegration">
    </component>
    
    <component id="FileFeed" name="FileFeed"
             service="ShoutcastIntegration.IFeedStream, ShoutcastIntegration"
             type="ShoutcastIntegration.FileFeed, ShoutcastIntegration">
    </component>

    
  </components>
</configuration>