<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="castle"
          type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler,   
           Castle.Windsor" />
  </configSections>

  <castle>
    <include uri="assembly://ShoutcastBrowser/Config/Properties.config"></include>
    <include uri="assembly://ShoutcastIntegration/Config/Components.config"></include>
    <include uri="assembly://ShoutcastBrowser/Config/Components.config"></include>
  </castle>
</configuration>