<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <properties>

    <Feeds>
      <array>
        <item>../../../../ShoutcastIntegration.Test/shoutcastfeed.xml</item>
      </array>
    </Feeds>

    <ShoutcastDirectoryListURL>
      <![CDATA[http://www.shoutcast.com/sbin/newxml.phtml]]>
    </ShoutcastDirectoryListURL>

    <ShoutcastPlaylistURL>
      <![CDATA[http://www.shoutcast.com/sbin/shoutcast-playlist.pls?rn={0}&file=filename.pls]]>
    </ShoutcastPlaylistURL>

    <!--    http://www.shoutcast.com/sbin/newxml.phtml-->
    <!--    http://www.shoutcast.com/sbin/newxml.phtml?search=blah-->
    <!--    http://www.shoutcast.com/sbin/newxml.phtml?genre=Rock-->
    <!--    http://www.shoutcast.com/sbin/newxml.phtml?random=20-->

  </properties>
</configuration>