<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <properties>

    <Feeds>
      <array>
        <item>../../../ShoutcastIntegration.Test/shoutcastfeed.xml</item>
      </array>
    </Feeds>

    <ShoutcastPlaylistURL>
      <![CDATA[http://www.shoutcast.com/sbin/shoutcast-playlist.pls?rn={0}&file=filename.pls]]>
    </ShoutcastPlaylistURL>

    <ShoutcastDirectoryListURL>
      <![CDATA[http://www.shoutcast.com/sbin/newxml.phtml?genre=ambient]]>
    </ShoutcastDirectoryListURL>
    
  </properties>
</configuration>